<!DOCTYPE html>
<html>
  <head>
    <title>Huidinstituut Karin</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <!-- The data-spy interacts with the menu during scroll movement -->
  <body data-spy="scroll" data-target="#navBarCollapse">
    <%= render "shared/navbar" %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </body>

</html>
